<header class="bg-image">
    <div class="title font-ibarra-real-nova">Clinimetrics</div>

    <div fxLayout="row" fxLayoutAlign="end" fxHide.lt-sm>
        <mat-card class="description-card">
            <p>Objective tools to measure and control the condition.</p>
        </mat-card>
    </div>


</header>

<!-------------------------- Section 1 ------------------------------------->

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutAlign="space-around center" 
class="margin-top-50 margin-x-50 margin-bottom-50">

    <div fxFlex="50" fxLayoutAlign="center">
        <img 
        src="./assets/img/clinimetrics-hair-loss.jpg" 
        alt="Dermatologist illustration" 
        class="img-responsive max-width-600"
        >
        
    </div>

    <div fxFlex>
        <mat-card class="section1-card">
        <div class="section1-title">Objective measure.</div>
        <div>
            In medical science it is necessary to measure variables to control the variations of results in
            order to find a treatment or prevention of disease. We need objective data that are related
            to the quality of treatment.
        </div>
        <div>
            Clinimetrics is a methodological discipline with a focus on the quality of measurements
            in medical research and clinical practice. The aim of Clinimetrics is to foster more
            rational use of measurements, improve the quality of the clinical work and enhance
            the quality of patient care
        </div>
        <div>Objective tools to obtain data for indicators, rating scales in areas related to symptoms,
            physical signs, and other characteristics, used to describe or measure a medical condition.</div>
        <div>
            The foundation of evidence-based practice and thorough research is the use of outcome
            measures. The validity and reliability, as well as the responsiveness of these measurement tools,
            is a prerequisite in making meaningful patient-centred clinical inferences.
        </div>
        <div>
            This collection of evidence about metrics use methods that are valid, reliable and accepted
            for use in healthcare. For practical reasons the concept of has expanded to cover many clinical issues.
        </div>
        </mat-card>
        
    </div>

</div>

<!-------------------------- Section 2 ------------------------------------->

<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutAlign="space-around center"
    class="margin-top-50 margin-bottom-50 margin-x-50">

    <div fxFlex="50" fxLayoutAlign="center">
        <img 
        src="./assets/img/trichoscopy.png" 
        alt="Trichoscopy" 
        class="img-responsive max-width-600 max-height-400">

    </div>

    <div fxFlex>
        <mat-card class="section1-card">
        <div class="section1-title">Trichoscopy</div>
        <div>
            Trichoscopy performed with a handheld dermoscope or a videodermoscope became
            an indispensable tool in differential diagnosis of hair and scalp diseases. 
            This makes it a modern, non-invasive technique, which is well accepted by both,
            dermatologists and patients.
        </div>
        <div>
            In all non-cicatricial alopecias presence of empty follicular openings is a common
            trichoscopy finding.
        </div>
        <div>
            In alopecia areata black dots and micro-exclamation mark hairs and tapered hairs
            correlate with disease activity, whereas yellow dots and vellus hairs correlate
            with disease severity.
        </div>
        </mat-card>
         
    </div>

</div>

<!-------------------------------   Divider 1     --------------------------------->

<div class="margin-y-50 padding-y-100 bg-gray text-center">
    <div class="divider1-text">Clinimetrics Tools</div>
</div>

<!-------------------------- Section 3  Calculators Cards ------------------------------------->

<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutAlign="center"
class="margin-top-50 margin-bottom-150 margin-x-50">
    <div fxFlex class="max-width-600">
        <mat-card>
            <div class="text-center">
                <mat-card-title>Dermatology Life Quality Index</mat-card-title>
                <mat-card-subtitle>DLQI</mat-card-subtitle>

                <img mat-card-xl-image src="./assets/img/dlqi-score.png" alt="DLQI score">
            </div>
            
            <mat-card-content>
                <div>The Dermatology life Quality Index is a ten-question questionnaire used to measure
                the impact of skin disease on the quality of life of an affected person.</div>
            </mat-card-content>
        <mat-card-actions>
            <button  mat-raised-button color="primary" routerLink="/dlqi">Score</button>
        </mat-card-actions>
        </mat-card>
    </div>

    <div fxFlex class="max-width-600">
        <mat-card>
            <div class="text-center">
                <mat-card-title>Severity of Alopecia Tool</mat-card-title>
                <mat-card-subtitle class="margin-top-20">SALT</mat-card-subtitle>
                <img mat-card-xl-image src="./assets/img/AA-illustration.png" alt="Alopeica illustration">
            </div>
        <mat-card-content>
            <div>The Severity of Alopecia Tool (SALT) is widely used to
            assess the extent of scalp-hair loss in AA.</div>
            <div>Percent scalp hair loss. This takes into account
            the percent of the scalp surface with no hair.</div>
        </mat-card-content>    
            

        <mat-card-actions>
            <button  mat-raised-button color="primary" routerLink="/salt">Score</button>
        </mat-card-actions>
        </mat-card>
    </div>
</div>