<header class="bg-image">
    <div class="title font-ibarra-real-nova">Recommendations</div>

    <div fxLayout="row" fxLayoutAlign="end" fxHide.lt-sm>
        <mat-card class="description-card">
            <p>Material for educational purposes only. It is not medical advice.
            Consult your doctor.</p>
        </mat-card>
    </div>

</header>

<!-------------------------- Section 1 ------------------------------------->

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutAlign="space-around center" 
class="margin-top-50 margin-bottom-150">
    <div fxFlex="60">
        <div>
            <mat-card class="center-element-70 padding-20 section1-card">
                <mat-card-content>
                    <div class="section1-title">Counselling</div>
                    <div class="section-text">
                        Alopecia areata is difficult to treat and few treatments
                        have been assessed in randomized controlled trials.
                        An explanation including discussion of the nature and course of the 
                        disease and the 
                        available treatments, is essential. Some patients are
                        profoundly upset by their alopecia and may require
                        psychological support. 
                    </div>
                    
                </mat-card-content>
                <div fxLayoutAlign="space-around center">
                    <mat-chip-list aria-label="Etiology selection">
                        <mat-chip color="primary" selected>Support</mat-chip>

                    </mat-chip-list>
                </div>
            </mat-card>
        </div>

        <div class="margin-top-50">
            <mat-card class="center-element-70 padding-20 section1-card">
                <mat-card-content>
                    <div class="section1-title">Treatment</div>
                    <div class="section-text">
                        Leaving alopecia areata untreated is a legitimate option
                        for many patients. Spontaneous remission occurs in up
                        to 80% of patients with limited patchy hair loss of short
                        duration (less than 1 year), although the remission rate in
                        patients reaching secondary care is lower.
                    </div>
                    <div class="section-text">
                        Many patients may therefore be managed by reassurance
                        alone, with advice that regrowth cannot be expected
                        within 3 months of the development of any individual
                        patch.
                    </div>
                    <div>
                        Current therapies for AA aim to immunosuppress or immunomodulate
                        the activity of the disease, with generally unsatisfying responses
                        and high relapse rates, especially in more severe cases.
                    </div>
                    <div>New insights into the pathophysiologic mechanisms in AA are leading
                        researchers to the development of more targeted therapeutic approaches.</div>
                </mat-card-content>
                <div fxLayoutAlign="space-around center">
                    <mat-chip-list aria-label="Etiology selection">
                        <mat-chip color="primary" selected>Remission 80%</mat-chip>
                        <mat-chip color="accent" selected>Regrowth 3 months</mat-chip>
                        <mat-chip color="primary" selected>Immunosuppress</mat-chip>
                        <mat-chip color="accent" selected>Immunomodulate</mat-chip>

                    </mat-chip-list>
                </div>
            </mat-card>
        </div>
    </div>

    <div fxFlex class="margin-top-50">
        <img src="./assets/img/hair-treatment.png" alt="Man hair loss" class="img-responsive max-width-600">

    </div>
</div>

