p {
    font-size: 2vh;
    letter-spacing: 3px;
    line-height: 1.2;
    color: black;
}

.title {
    font-size:8vh;
    padding: 20px;
    margin-right: 50px;
    text-align: right;
    color: rgb(40, 40, 40);
    margin-bottom: 10px;
} 

.description-card {
    margin-top: 10px;
    margin-right: 50px;
    padding-left: 35px;
    padding-right: 35px;
    max-width: 300px;
    background-color: #ddd;
    opacity: 0.8;
}

.bg-image {
    background-image: url("../../../assets/img/patient-doctor.jpg");
    padding-top: 100px;
    background-color: #cccccc;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.9;
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 10vw;
        margin-right: 0;
        text-align: center; 
    }

}

.img-responsive {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
}

.max-width-600 {
    max-width: 600px;
}

.section1-card {
    box-shadow: 10px 10px 5px gray
}

.section1-card:hover {
    background-color: lightblue;
}

.center-element-70 {
    margin: auto;
    width: 70%;
}

.padding-20 {
    padding: 20px;
}

.section1-title {
    font-weight: normal;
    font-size: 26px;
    margin: 2px;
    margin-bottom: 15px;
    text-align: center;
    font-style: italic;
}

.section-text {
    font-size: 16px;
}