<header class="bg-image">
    <div class="title font-ibarra-real-nova">Description</div>

    <div fxLayout="row" fxLayoutAlign="end" fxHide.lt-sm>
        <mat-card class="description-card">
            <p>Description of the condition.</p>
        </mat-card>
    </div>
</header>

<!-------------------------- Section 1 ------------------------------------->

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutAlign="space-around center"
    class="margin-top-50">

    <div fxFlex="60">
        <mat-card class="center-element-70 section1-card">
            <div class="section1-title">Etiology</div>
            <mat-card-content>
                <div class="section-text">
                    Alopecia areata seems to have a genetic basis. A 55% concordance rate between
                    identical twins has been observed. Genome-wide association studies
                    have localized the HLA signal of AA mostly to the HLA-DRB1.
                </div>
                <div class="section-text">
                    One locus harboring the genes that encode the natural killer cell receptor D
                    (NKG2D) was implicated in AA and not in other autoimmune diseases, which suggests
                    a key role in pathogenesis. Therefore, CD8+ NKG2D T cells have been a subject of
                    study and found to be the major effectors in AA.
                </div>
            </mat-card-content>


            <div fxLayoutAlign="space-around center">
                <mat-chip-list aria-label="Genetics">
                    <mat-chip color="accent" selected>Genetic</mat-chip>
                    <mat-chip color="primary" selected>HLA-DRB1</mat-chip>
                    <mat-chip color="accent" selected>NKG2D</mat-chip>
                    <mat-chip color="primary" selected>T cells CD8+</mat-chip>
                </mat-chip-list>
            </div>
        </mat-card>
    </div>

    <div fxFlex class="margin-top-50">
        <img src="./assets/img/doctors-dna.jpg" alt="Alopecia areata patient"
            class="img-responsive max-width-image">
    </div>
</div>

<!-------------------------- Section 2 ------------------------------------->

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" 
fxLayoutAlign="space-around center" 
class="margin-top-50 margin-buttom-50 background-gray padding-y-30 padding-x-20">
    
    <div class="text-center" fxFlex="20">
        <div class="section2-title">Incidence</div>
        <div class="margin-top-20 section2-text">20.2 / 100,000</div><span>person-years</span>
    </div>
    <div class="text-center" fxFlex="20">
        <div class="section2-title">Lifetime risk</div>    
        <div class="margin-top-20 section2-text">2%</div>  
    </div>
    <div class="text-center" fxFlex="20">
        <div class="section2-title">Prevalence</div>
        <div class="margin-top-20 section2-text">0.2%</div>
    </div>
    <div class="text-center" fxFlex="20">
        <div class="section2-title">Increased risk of autoimmune diseases</div>
        <div class="margin-top-20 section2-text">16%</div>
    </div>
    <div class="text-center" fxFlex="20">
        <div class="section2-title">Atopic dermatitis association</div>
        <div class="margin-top-20 section2-text">39%</div>
    </div>
    
</div>

<!-------------------------- Section 3 ------------------------------------->

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutAlign="space-around center"
    class="margin-top-50">

    <div fxFlex="60">
        <mat-card class="center-element-70 section1-card">
        <mat-card-content>
        <div class="section1-title">Pathophysiology</div>
        <div class="section-text">
            A significant feature of the hair follicle is its relative immune privilege,
            this mainly established by suppression of surface molecules required for presenting
            autoantigens to CD8+ T lymphocytes (i.e., MHC class I) and by the generation
            of an inhibitory local environment. The breakdown of the immune
            privilege has been thought to be a significant driver of AA.
        </div>
        <div class="section-text">
            Alopecia areata is a disorder of hair follicle-cycling, where inflammatory cells
            attack the hair follicle matrix epithelium that is undergoing early cortical
            differentiation (anagen hair follicles), which are then prematurely induced into
            the catagen phase. However, since no destruction of hair-follicle stem cells occurs,
            the hair follicle retains its capacity to regenerate and continue cycling.
        </div>
        <div class="section-text">The precise event that precipitates alopecia areata is unknown.
            Some triggers have been reported, most commonly emotional or physical stress, vaccines,
            viral infections, and drugs.
        </div>
        </mat-card-content>

        <div fxLayoutAlign="space-around center">
            <mat-chip-list aria-label="Immune">
                <mat-chip color="primary" selected>Immune privilege</mat-chip>
                <mat-chip color="accent" selected>Autoantigens</mat-chip>
                <mat-chip color="primary" selected>Inflammatory</mat-chip>
            </mat-chip-list>
        </div>
        </mat-card>

    </div>

    <div fxFlex class="margin-top-50">
        <img src="./assets/img/lymphocyteT.jpg" alt="Lymphocyte T"
            class="img-responsive max-width-image">
    </div>
    


</div>

<!-------------------------- Section 4 ------------------------------------->

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutAlign="space-around center"
    class="margin-top-50 margin-buttom-100">

    <div fxFlex="50" fxLayoutAlign="center">
        <img src="./assets/img/alopecia_areata_2.jpg" 
        alt="Alopecia areata patient" class="img-responsive">

    </div>

    <div fxFlex>
        <mat-card class="center-element-90 section1-card">
        <mat-card-content>
        <div class="section1-title">Clinical history</div>
        <div class="section-text">
            It presents as hair loss in well-circumscribed patches of normal-appearing skin.
            Although any hair-bearing can be affected, this occurs most commonly on the scalp and beard. 
        </div>
        <div class="section-text">
            The onset is usually fast, and it may progress and induce complete hair loss on the scalp,
            a condition termed alopecia areata totalis. Moreover, it may induce complete hair loss on
            the whole body (alopecia areata universalis) Other variants include ophiasis, in which hair
            loss affects the occipital region, diffuse forms of alopecia (alopecia incognito) and
            sudden graying, a variant which attacks pigmented hair follicles.
        </div>
        <div class="section-text">
            Exclamation-mark hairs are a key characteristic of alopecia areata. In exclamation-mark hairs,
            the hair root is narrowed and suggest defective anchoring of the hair within the follicle.
            Exclamation point hairs can be found at the margins of the lesions during the active
            phases of the disease.
        </div>
        <div class="section-text">Alopecia areata can involve the nails, which occurs in about 10 to 15% of cases.
            Patients with nail involvement usually present the most severe forms of hair loss.
            The nail manifestations consist of fine pitting of the nails, and occasionally,
            trachyonychia.
        </div>
        </mat-card-content>

        <div fxLayoutAlign="space-around center">
            <mat-chip-list aria-label="Clinial">
                <mat-chip color="primary" selected>Non scarring</mat-chip>
                <mat-chip color="accent" selected>Exclamation mark hairs</mat-chip>
                <mat-chip color="primary" selected>Pitting</mat-chip>
                <mat-chip color="accent" selected>Trachyonychia</mat-chip>
            </mat-chip-list>
        </div>

        </mat-card>
    </div>

    

</div>