<header class="bg-image">
    <div class="title font-ibarra-real-nova">Alopecia Areata</div>

    <div fxLayout="row" fxLayoutAlign="end" fxHide.lt-sm>
        <mat-card class="description-card">
            <p>Hair loss in patches of normal-appearing skin.</p>
            <p>Although any hair-bearing can be affected, this occurs most commonly on the scalp and beard.</p>
        </mat-card>
    </div>


</header>

<!-------------------------- Section 1 ------------------------------------->

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutAlign="space-around center"
    class="section-container">

    <div fxFlex="60">

        <div>
            <mat-card class="center-element-70 padding-20 section1-card">
                <mat-card-content>
                    <div class="section1-title">Alopecia</div>
                    <div class="section-text">
                        The term alopecia means hair loss regardless of the cause. It is not exclusive
                        to the scalp; it can be anywhere in the body. Many therapies are available for
                        the treatment of alopecia, including topical, systemic, and injectable modalities.
                    </div>
                </mat-card-content>
                <div fxLayoutAlign="space-around center">
                    <mat-chip-list aria-label="Etiology selection">
                        <mat-chip color="primary" selected>Hair loss</mat-chip>

                    </mat-chip-list>
                </div>
            </mat-card>
        </div>

        <div class="margin-top-50">
            <mat-card class="center-element-70 padding-20 section1-card">
                <mat-card-content>
                    <div class="section1-title">Alopecia Areata</div>
                    <div class="section-text">
                        Alopecia areata (AA) is a form of alopecia that impacts hair follicles, nails,
                        and rarely, the retinal pigment epithelium. It typically presents with round
                        patches and is a type of non-scarring hair loss.
                    </div>
                    <div class="section-text">
                        Alopecia areata is an autoimmune disorder that causes your hair to come out,
                        often in clumps the size and shape of a quarter. The amount of hair loss is
                        different in everyone. Some people lose it only in a few spots. Others lose a lot.
                        Sometimes, hair grows back but falls out again later. In others, hair grows back
                        for good.
                    </div>
                </mat-card-content>
                <div fxLayoutAlign="space-around center">
                    <mat-chip-list aria-label="Etiology selection">
                        <mat-chip color="primary" selected>Hair loss</mat-chip>
                        <mat-chip color="accent" selected>Nail changes</mat-chip>
                        <mat-chip color="primary" selected>Non-scarring</mat-chip>
                        <mat-chip color="accent" selected>Autoinmune</mat-chip>

                    </mat-chip-list>
                </div>
            </mat-card>
        </div>
    </div>

    <div fxFlex class="margin-top-50">
        <img src="./assets/img/man-hair-loss.jpg" alt="Man hair loss" class="img-responsive max-width-image">

    </div>
</div>

<!-------------------------- Divider 1 ------------------------------------->

<div class="margin-y-50 padding-y-100 bg-gray text-center">
    <div class="divider1-text padding-x-100-sm-50 margin-bottom-20">Alopecia areata is a
        <span class="highlighted-text">recurrent nonscarring</span> type of
        <span class="highlighted-text">hair loss</span> that can affect any hair-bearing
        area and can manifest in many different patterns.
    </div>
    <mat-divider></mat-divider>
    <div class="divider1-text padding-x-100-sm-50 margin-top-20">
        Although it is a <span class="highlighted-text">benign condition</span> and most patients
        are asymptomatic, it can cause emotional and psychosocial distress.
    </div>
</div>



<!-------------------------- Section 2 ------------------------------------->

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutAlign="center center" class="section-container">
    <div fxFlex="50" fxLayoutAlign="center center">
        <mat-card class="section2-card">
            <div class="section2-title">Hair Cycle</div>
            <div class="section-text">
                Everyone is born with hundreds of thousands of hair on the head. The hair cycle
                consists of three phases: the growth phase, which is called anagen, the resting
                phase, which is called catagen, and the shedding phase, which is the telogen phase.
                Ninety percent of hair are in the growth phase (anagen) and the rest, which
                corresponds to ten percent in the resting and shedding phases. When hair is
                falling out, this is the telogen phase, and the hair is going to recycle,
                and it starts growing again in the (growth) anagen phase.
            </div>
        </mat-card>
    </div>
    <div fxFlex class="padding-10">
        <img src="./assets/img/hair-cycle.svg" alt="Alopecia areata patient" class="img-responsive max-width-700">

    </div>

</div>

<!-------------------------- Divider 2 ------------------------------------->

<div class="margin-y-50 padding-y-100 bg-gray">
    <div class="text-center section1-title margin-bottom-20">TERMINOLOGY</div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutAlign="space-around">

        <div class="text-size-20 line-height-12 padding-10">             
            <div class="margin-5"> 
                <span class="bold-text">Scalp</span>
                <span>: The skin on the head from which hair grows.</span>
            </div>
      
            <div class="margin-5">
                <span class="bold-text">Hair follicle</span>
                <span>: The smallest but also a very complex human organ which produces a single hair throughout our
                    life.</span>
            </div>
            
            <div class="margin-5">
                <span class="bold-text">Hair shaft</span>
                <span>: Body of the hair, it refers to a hair.</span>
            </div>

            <div class="margin-5">
                <span class="bold-text">Anagen phase</span>
                : A growth phase of hair, it lasts 2-8 years.
            </div>
            <div class="margin-5">
                <span class="bold-text">Catagen phase</span>
                : Hair production stops and the hair shafts become separated from their follicles, this lasts 2-4 weeks.
            </div>
        </div> 

        <div class="text-size-20 line-height-12 padding-10">
            <div class="margin-5">
                <span class="bold-text">Telogen phase</span>: A resting, no-growth phase of hair, it lasts 5-6 weeks. During this phase, the
                hair can be easily pulled out by traction.
            </div>
            <div class="margin-5"> 
                <span class="bold-text">Early anagen phase</span>: The responsible hair follicles begin to produce new hair from underneath
                the skin.
            </div>
            <div class="margin-5">
                <span class="bold-text">Alopecia</span>: Hair loss, may be in the form of shedding or thinning of the hairs.
            </div>
            <div class="margin-5">
                <span class="bold-text">Baldness</span>: Total loss of hair in a particular area or areas of the scalp.
            </div>
        </div>

    </div>
</div>  


<!-------------------------- Section 3 ------------------------------------->

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutAlign="center center"
    class="section-container-buttom">

    <div fxFlex="50">
        <mat-card class="center-element-70 padding-20 section1-card">
            <mat-card-content>
                <div class="section1-title">Most common type</div>
                <div>
                    Alopecia can be subdivided into two main categories: scarring and non-scarring.
                    The most common type is androgenetic alopecia. The majority of men
                    start to lose hair in the twenties, while women begin to lose their hair in their
                    forties or fifties. As an individual grows older, they will lose hair.
                    The difference between male hair loss and female hair loss is the pattern.
                    Men generally lose hair in the front and the temporal region, while women tend
                    to lose hair from the central area of the scalp. Also, female hair loss will not
                    end up with complete baldness, whereas male hair loss can end up with complete
                    baldness. Males tend to retain hair at the posterior area of the scalp because
                    this hair is resistant to the androgenic hormone.
                </div>
            </mat-card-content>
            <div fxLayoutAlign="space-around center">
                <mat-chip-list aria-label="Androgenetic">
                    <mat-chip color="accent" selected>Androgenetic alopecia</mat-chip>
                    <mat-chip color="primary" selected>Hormone</mat-chip>
                    <mat-chip color="accent" selected>Miniaturization</mat-chip>
                </mat-chip-list>
            </div>
        </mat-card>
    </div>

    <div fxFlex>
        <img src="./assets/img/miniaturizacion.svg" alt="Hair Miniaturization" class="img-responsive max-width-image">
    </div>




</div>